.jumbotron{
    background-color: rgb(54, 141, 141);
    color: black;
    padding: 0px 0px 0px 0px;
}

footer{
    padding: 10px 10px 0 10 px;
    background-color: yellow;
    margin-bottom: 0px;
    margin-top: 10px;
}

.card-hotel{
    flex: 1 200px;
    margin-top: 10px;
}

.btn-vermas{
    width: 100%;
    border-radius: 0px;
}

.fondo-azul{
    background-color:#90D3CB;
}
.fondo-amarillo{
    background-color:#DBEC31;
}

.fondo-verde{
    background-color:#CDE3BD;
}

.footer-address-icon{
    padding-right: 10px;
}

.center{

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.tab-content{
    padding-top: 10px;
}