.jumbotron {
  background-color: #c7c746;
  color: black;
  padding: 0px 0px 0px 0px;
}

footer {
  padding: 10px 10px 0 10 px;
  background-color: #c7c746;
  margin-top: 10px;
  margin-bottom: 0px;
}
.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.btn-vermas {
  width: 100%;
  border-radius: 0px;
}
.fondo-azul {
  background-color: #55bfda;
}
.fondo-amarillo {
  background-color: #c7c746;
}
.fondo-verde {
  background-color: #CDE3BD;
}
.fondo-rojo {
  background-color: #eb9973;
}
.footer-address-icon {
  padding-right: 10px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.tab-content {
  margin-top: 10px;
  margin-bottom: 0px;
}
