@yellow: #c7c746;
@rojo:  #eb9973;
@verde:#CDE3BD; 
@azul:  #55bfda;

.margenes(@top:0px, @bottom:0px){
    margin-top: @top;
    margin-bottom: @bottom;
}

.jumbotron {
    background-color:@yellow;
    color: black;
    padding: 0px 0px 0px 0px; }
  
  footer {
    padding: 10px 10px 0 10 px;
    background-color: @yellow;
    .margenes(10px,0px); }
  
  .card-hotel {
    flex: 1 200px;
    .margenes(10px,0px);}
  
  .btn-vermas {
    width: 100%;
    border-radius: 0px; }
  
  .fondo-azul {
    background-color: @azul; }
  
  .fondo-amarillo {
    background-color: @yellow; }
  
  .fondo-verde {
    background-color: @verde; }
  
  .fondo-rojo {
    background-color: @rojo; }
  
  .footer-address-icon {
    padding-right: 10px; }
  
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%; }
  
  .tab-content {
    .margenes(10px,0px); }
  